* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 95%);
}

.section {
  display: grid;
  place-items: center;
  margin: 96px 0px;
}

.section-holder {
  max-width: 900px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.section-cards {
  max-width: 300px;
  width: 100%;
  padding: 40px 0px;
}

.width-holder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 25px;
  margin: 0px auto;
  width: 70%;
}

.card-sedan {
  background-color: hsl(31, 77%, 52%);
  border-radius: 10px 0px 0px 10px;
}

.card-suv {
  background-color: hsl(184, 100%, 22%);
}

.card-luxury {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0px 10px 10px 0px;
}

.cards-icons {
  width: 64px;
  height: 40px;
}

.cards-headings {
  text-transform: uppercase;
  font-family: "Big Shoulders Display";
  color: hsl(0, 0%, 95%);
  font-weight: 700;
  font-size: 40px;
}

.cards-text {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
  font-family: "Lexend Deca";
  margin-bottom: 40px;
  line-height: 1.5;
}

.cards-btn {
  max-width: 140px;
  width: 100%;
  padding: 15px 0px;
  border: 2px solid hsl(0, 0%, 95%);
  border-radius: 50px;
  text-transform: capitalize;
  background-color: hsl(0, 0%, 95%);
  font-weight: 400;
  font-family: "Lexend Deca";
}

.cards-btn:hover {
  border: 2px solid hsl(0, 0%, 95%);
  cursor: pointer;
  color: hsl(0, 0%, 95%);
  background: transparent;
}

.btn-sedan {
  color: hsl(31, 77%, 52%);
}

.btn-suv {
  color: hsl(184, 100%, 22%);
}

.btn-luxury {
  color: hsl(179, 100%, 13%);
}

/* MEDIA QUERIES */
@media screen and (max-width: 1000px) {
  .section-holder {
    width: 90%;
  }
}

@media screen and (max-width: 775px) {
  .section {
    margin: 50px 0px;
  }

  .section-holder {
    flex-direction: column;
    align-items: center;
  }

  .cards-text {
    margin-bottom: 0px;
    line-height: 1.6;
  }

  .card-sedan {
    border-radius: 10px 10px 0px 0px;
  }

  .card-luxury {
    border-radius: 0px 0px 10px 10px;
  }
}
