* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  font-family: "Poppins";
  background-image: url(..//images/bg-intro-desktop.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: hsl(0, 100%, 74%);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 100vh;
  max-width: 1000px;
  width: 100%;
}

.text-holder {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.heading {
  color: #fff;
  font-size: 50px;
  line-height: 1.1;
}

.text {
  color: #fff;
  line-height: 1.5;
}

.form {
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.trial-box {
  background-color: hsl(248, 32%, 49%);
  padding: 15px 0px;
  border-radius: 7px;
  text-align: center;
  box-shadow: 0px 8px 2px hsla(0, 0%, 0%, 0.116);
}

.trial-text {
  color: hsl(246, 25%, 77%);
  font-size: 13px;
}

.trial-text span {
  color: #fff;
  font-weight: 600;
}

.form-holder {
  background-color: #fff;
  padding: 35px 0px;
  border-radius: 7px;
  box-shadow: 0px 8px 2px hsla(0, 0%, 0%, 0.116);
}

.form-width-holder {
  width: 85%;
  margin: 0px auto;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: relative;
}

.btn {
  width: 100%;
  padding: 10px 0px;
  font-family: inherit;
  border-radius: 5px;
  border: 1px solid hsl(154, 59%, 51%);
  border-bottom: 3px solid hsl(154, 59%, 41%);
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: hsl(154, 59%, 51%);
}

.btn:hover {
  cursor: pointer;
  background-color: hsl(154, 59%, 61%);
  border-color: hsl(154, 59%, 51%);
}

.input-wrapper {
  width: 100%;
  position: relative;
}

input {
  width: 100%;
  padding: 10px 0px;
  padding-left: 20px;
  font-family: inherit;
  border-radius: 5px;
  border: 1px solid hsl(246, 25%, 77%);
  font-weight: 500;
}

input:hover {
  border-color: hsl(248, 32%, 49%);
}

input:focus {
  outline: 1px solid hsl(249, 10%, 26%);
}

.terms-text {
  margin-top: 15px;
  font-size: 9px;
  color: hsl(246, 25%, 77%);
  font-weight: 500;
  text-align: center;
}

.terms-text span {
  color: hsl(0, 100%, 74%);
  font-weight: 600;
}

.error-icon {
  position: absolute;
  content: "";
  right: 5%;
  top: 15%;
  display: none;
}

.error-text {
  color: hsl(0, 100%, 74%);
  font-size: 10px;
  justify-self: flex-end;
  margin-top: 5px;
  font-weight: 600;
  font-style: italic;
}

.error-text span {
  text-transform: capitalize;
}

.fname-error-text {
  display: none;
}

.lname-error-text {
  display: none;
}

.email-error-text {
  display: none;
}

.email-empty-text {
  display: none;
}

.password-error-text {
  display: none;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1000px) {
  main {
    width: 95%;
    gap: 30px;
  }

  .heading {
    font-size: 40px;
  }

  .text {
    font-size: 14px;
  }
}

@media screen and (max-width: 810px) {
  main {
    flex-direction: column;
  }

  .text-holder {
    text-align: center;
  }

  .text {
    font-size: 15px;
  }

  .error-text {
    text-align: end;
  }
}
