* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* GLOBAL SETTINGS */
.section-holder {
  max-width: 1150px;
  width: 100%;
  margin: 0px auto;
  padding: 90px 0px;
}

.hidden {
  display: none;
}

/* HEADER */
.header {
  background: transparent;
  padding: 60px 0px;
}

.header-holder {
  display: flex;
  justify-content: space-between;
  max-width: 1150px;
  width: 100%;
  margin: 0px auto;
}

.navigation-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 25px;
}

.list-item {
  font-family: "Alata";
  color: hsl(0, 0%, 100%);
  font-weight: 400;
  position: relative;
  cursor: pointer;
}

.list-item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: hsl(0, 0%, 100%);
  left: 30%;
  bottom: -10px;
  transition: all 0.3s ease;
}

.list-item:hover::after {
  width: 25px;
  left: 30%;
}

/* MOBILE NAVIGATION */
.hamburger-icon {
  max-width: 26px;
  width: 100%;
  object-fit: contain;
  display: none;
}

.mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: hsl(0, 0%, 0%);
  z-index: 1000;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.mobile-nav-header-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0px auto;
  padding-top: 60px;
}

.mobile-nav-list {
  width: 95%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
  height: 100vh;
}

.mobile-nav-list-item {
  color: hsl(0, 0%, 100%);
  font-family: "Josefin Sans";
  font-weight: 300;
  list-style: none;
  text-transform: uppercase;
  font-size: 30px;
}

/* HERO SECTION */
.hero-section {
  background-image: url(../images/desktop/image-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin-bottom: 50px;
}

.hero-holder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /*padding-top: 55px;*/
  max-width: 1150px;
  width: 100%;
  margin: 0px auto;
}

.hero-section-heading-holder {
  max-width: 700px;
  width: 100%;
  border: 2px solid hsl(0, 0%, 100%);
  margin: 60px 0px;
}

.hero-section-heading-width-holder {
  width: 93%;
  margin: 0px auto;
  padding: 30px 0px;
}

.hero-section-heading {
  color: hsl(0, 0%, 100%);
  font-family: "Josefin Sans";
  text-transform: uppercase;
  font-weight: 300;
  font-size: 80px;
}

/* INTERACTIVE SECTION */
.interactive-holder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.interactive-section-img {
  z-index: -999;
}

.vr-text-block {
  background-color: hsl(0, 0%, 100%);
  max-width: 575px;
  width: 100%;
  z-index: 999;
  margin-left: -156px;
  margin-bottom: -266px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.space {
  max-width: 80px;
  width: 100%;
}

.vr-text-block-width-holder {
  padding: 90px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.vr-heading {
  font-family: "Josefin Sans";
  font-weight: 300;
  text-transform: uppercase;
  font-size: 54px;
  color: hsl(0, 0%, 0%);
}

.vr-text {
  font-family: "Alata";
  line-height: 1.7;
  font-size: 17px;
  color: hsl(0, 0%, 55%);
}

/* CREATIONS SECTIONS */
.creations-holder {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.creations-heading-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.creations-heading {
  font-family: "Josefin Sans";
  font-weight: 300;
  text-transform: uppercase;
  font-size: 48px;
  color: hsl(0, 0%, 0%);
}

.btn {
  max-width: 165px;
  width: 100%;
  background: transparent;
  border: 2px solid hsl(0, 0%, 41%);
  color: hsl(0, 0%, 0%);
  text-transform: uppercase;
  font-family: "Alata";
  font-weight: 400;
  font-size: 15px;
  padding: 10px 0px;
  letter-spacing: 4px;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  border: 2px solid hsl(0, 0%, 0%);
  cursor: pointer;
}

.creations-cart-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
  flex-wrap: wrap;
}

.creations-cart-width-holder {
  width: 70%;
  margin: 0px auto;
  display: flex;
  align-items: flex-end;
  min-height: 445px;
  height: 100%;
  cursor: pointer;
}

.creations-cart-width-holder h4 {
  text-transform: uppercase;
  font-family: "Josefin Sans";
  font-weight: 300;
  color: hsl(0, 0%, 100%);
  font-size: 35px;
}

.creations-cart {
  max-width: 270px;
  width: 100%;
  min-height: 480px;
  height: 100%;
}

.cart-one {
  background-image: url(../images/desktop/image-deep-earth.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  isolation: isolate;
}

.cart-one::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-color: hsl(0, 0%, 0%);
  opacity: 0.3;
}

.cart-one:hover::after {
  background-color: hsl(0, 0%, 100%);
  opacity: 0.5;
  cursor: pointer;
  transition: color 0.3s ease;
}

.cart-one h4 {
  position: relative;
  transition: color 0.3s ease;
}

.cart-one:hover h4 {
  color: hsl(0, 0%, 0%);
}

.cart-two {
  background-image: url(../images/desktop/image-night-arcade.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  isolation: isolate;
}

.cart-two::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-color: hsl(0, 0%, 0%);
  opacity: 0.3;
}

.cart-two:hover::after {
  background-color: hsl(0, 0%, 100%);
  opacity: 0.5;
  cursor: pointer;
  transition: color 0.3s ease;
}

.cart-two h4 {
  position: relative;
  transition: color 0.3s ease;
}

.cart-two:hover h4 {
  color: hsl(0, 0%, 0%);
}

.cart-three {
  background-image: url(../images/desktop/image-soccer-team.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  isolation: isolate;
}

.cart-three::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-color: hsl(0, 0%, 0%);
  opacity: 0.3;
}

.cart-three:hover::after {
  background-color: hsl(0, 0%, 100%);
  opacity: 0.5;
  cursor: pointer;
  transition: color 0.3s ease;
}

.cart-three h4 {
  position: relative;
  transition: color 0.3s ease;
}

.cart-three:hover h4 {
  color: hsl(0, 0%, 0%);
}

.cart-four {
  background-image: url(../images/desktop/image-grid.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  isolation: isolate;
}

.cart-four::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-color: hsl(0, 0%, 0%);
  opacity: 0.3;
}

.cart-four:hover::after {
  background-color: hsl(0, 0%, 100%);
  opacity: 0.5;
  cursor: pointer;
  transition: color 0.3s ease;
}

.cart-four h4 {
  position: relative;
  transition: color 0.3s ease;
}

.cart-four:hover h4 {
  color: hsl(0, 0%, 0%);
}

.cart-five {
  background-image: url(../images/desktop/image-from-above.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  isolation: isolate;
}

.cart-five::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-color: hsl(0, 0%, 0%);
  opacity: 0.3;
}

.cart-five:hover::after {
  background-color: hsl(0, 0%, 100%);
  opacity: 0.5;
  cursor: pointer;
  transition: color 0.3s ease;
}

.cart-five h4 {
  position: relative;
  transition: color 0.3s ease;
}

.cart-five:hover h4 {
  color: hsl(0, 0%, 0%);
}

.cart-six {
  background-image: url(../images/desktop/image-pocket-borealis.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  isolation: isolate;
}

.cart-six::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-color: hsl(0, 0%, 0%);
  opacity: 0.3;
}

.cart-six:hover::after {
  background-color: hsl(0, 0%, 100%);
  opacity: 0.5;
  cursor: pointer;
  transition: color 0.3s ease;
}

.cart-six h4 {
  position: relative;
  transition: color 0.3s ease;
}

.cart-six:hover h4 {
  color: hsl(0, 0%, 0%);
}

.cart-seven {
  background-image: url(../images/desktop/image-curiosity.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  isolation: isolate;
}

.cart-seven::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-color: hsl(0, 0%, 0%);
  opacity: 0.3;
}

.cart-seven:hover::after {
  background-color: hsl(0, 0%, 100%);
  opacity: 0.5;
  cursor: pointer;
  transition: color 0.3s ease;
}

.cart-seven h4 {
  position: relative;
  transition: color 0.3s ease;
}

.cart-seven:hover h4 {
  color: hsl(0, 0%, 0%);
}

.cart-eight {
  background-image: url(../images/desktop/image-fisheye.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  isolation: isolate;
}

.cart-eight::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-color: hsl(0, 0%, 0%);
  opacity: 0.3;
}

.cart-eight:hover::after {
  background-color: hsl(0, 0%, 100%);
  opacity: 0.5;
  cursor: pointer;
  transition: color 0.3s ease;
}

.cart-eight h4 {
  position: relative;
  transition: color 0.3s ease;
}

.cart-eight:hover h4 {
  color: hsl(0, 0%, 0%);
}

/* MOBILE CREATIONS SECTION */
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
  margin-bottom: 20px;
}

.mobile-cart-holder {
  position: relative;
}

.mobile-cart-holder h4 {
  content: "";
  position: absolute;
  color: hsl(0, 0%, 100%);
  z-index: 999;
  bottom: 30px;
  left: 30px;
  font-family: "Josefin Sans";
  font-weight: 300;
  text-transform: uppercase;
  max-width: 200px;
  width: 100%;
  font-size: 35px;
}

.mobile-cart-holder:hover h4 {
  color: hsl(0, 0%, 0%);
  cursor: pointer;
}

.mobile-img {
  max-width: 540px;
  width: 100%;
  filter: brightness(0.7);
}

.mobile-cart-holder:hover .mobile-img {
  cursor: pointer;
  opacity: 0.7;
}

.btn-mobile {
  display: none;
}

/* FOOTER */
.footer {
  background-color: hsl(0, 0%, 0%);
  margin-top: 70px;
}

.footer-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 0px;
}

.footer-left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
}

.footer-logo {
  max-width: 155px;
  width: 100%;
}

.footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  list-style: none;
}

.footer-nav-item {
  color: hsl(0, 0%, 100%);
  font-family: "Alata";
  font-weight: 400;
  font-size: 16px;
  position: relative;
  cursor: pointer;
}

.footer-nav-item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: hsl(0, 0%, 100%);
  left: 30%;
  bottom: -10px;
  transition: all 0.3s ease;
}

.footer-nav-item:hover::after {
  width: 25px;
  left: 30%;
}

.footer-right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 25px;
}

.medias {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.underline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.underline span {
  position: absolute;
  width: 0;
  height: 2px;
  background-color: hsl(0, 0%, 100%);
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.underline:hover span {
  width: 100%;
}

.footer-text {
  color: hsl(0, 0%, 55%);
  font-family: "Alata";
  font-weight: 400;
  font-size: 15px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1150px) {
  .section-holder,
  .header-holder,
  .hero-holder {
    width: 95%;
  }

  .hero-section-heading-holder {
    max-width: 600px;
  }

  .hero-section-heading {
    font-size: 70px;
  }

  .interactive-section-img {
    max-width: 650px;
    width: 100%;
  }

  .vr-text-block {
    max-width: 590px;
    margin-bottom: -225px;
  }

  .vr-heading {
    font-size: 46px;
  }

  .vr-text {
    font-size: 15px;
  }

  .creations-cart-holder {
    display: none;
  }

  .hidden {
    display: block;
  }

  .section-holder {
    padding: 60px 0px;
  }

  .creations-holder {
    gap: 45px;
  }
}

@media screen and (max-width: 1050px) {
  .interactive-section-img {
    max-width: 600px;
    width: 100%;
  }

  .vr-text-block {
    max-width: 530px;
    margin-bottom: -220px;
    margin-left: -125px;
  }

  .vr-heading {
    font-size: 42px;
  }

  .vr-text {
    font-size: 14px;
  }

  .creations-heading {
    font-size: 44px;
  }

  .btn {
    padding: 8px 0px;
  }
}

@media screen and (max-width: 1000px) {
  .interactive-section-img {
    max-width: 550px;
    width: 100%;
  }

  .vr-text-block {
    max-width: 540px;
    margin-bottom: -200px;
    margin-left: -125px;
  }

  .vr-text-block-width-holder {
    padding: 70px 0px;
  }

  .vr-heading {
    font-size: 42px;
  }

  .vr-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 950px) {
  .interactive-section-img {
    max-width: 470px;
    width: 100%;
  }

  .vr-text-block {
    max-width: 550px;
    margin-bottom: -140px;
    margin-left: -115px;
  }

  .vr-heading {
    font-size: 38px;
  }

  .vr-text {
    font-size: 13px;
  }

  .creations-heading {
    font-size: 40px;
  }

  .mobile-cart-holder h4 {
    font-size: 30px;
    max-width: 180px;
  }
}

@media screen and (max-width: 850px) {
  .interactive-section-img {
    max-width: 430px;
    width: 100%;
  }

  .vr-text-block {
    max-width: 500px;
    margin-bottom: -120px;
    margin-left: -115px;
  }
}

@media screen and (max-width: 800px) {
  .interactive-section-img {
    max-width: 400px;
    width: 100%;
  }

  .vr-text-block {
    max-width: 500px;
    margin-bottom: -110px;
    margin-left: -115px;
  }

  .vr-heading {
    font-size: 36px;
  }
}

@media screen and (max-width: 768px) {
  .navigation {
    display: none;
  }

  .hero-section {
    background-image: url(../images/mobile/image-hero.jpg);
  }

  .hamburger-icon {
    display: block;
  }

  .interactive-holder {
    flex-direction: column;
  }

  .interactive-section-img {
    max-width: 730px;
  }

  .vr-text-block {
    text-align: center;
    max-width: 700px;
    margin-left: 0;
  }

  .space {
    display: none;
  }

  .vr-heading {
    font-size: 50px;
  }

  .vr-text {
    font-size: 17px;
  }

  .row {
    flex-direction: column;
  }

  .mobile-cart-holder {
    width: 100%;
  }

  .mobile-cart-holder h4 {
    font-size: 35px;
  }

  .mobile-img {
    max-width: 800px;
  }

  .btn {
    display: none;
  }

  .btn-mobile {
    display: block;
    justify-self: center;
    margin-top: 40px;
  }

  .creations-heading-holder {
    justify-content: center;
  }

  .footer-holder {
    flex-direction: column;
    gap: 50px;
  }

  .footer-left-side {
    align-items: center;
    gap: 35px;
  }

  .footer-nav {
    flex-direction: column;
  }

  .footer-right-side {
    align-items: center;
    gap: 15px;
  }
}

@media screen and (max-width: 540px) {
  .hero-section-heading {
    font-size: 55px;
  }
}

@media screen and (max-width: 410px) {
  .hero-section-heading {
    font-size: 42px;
  }

  .vr-heading {
    font-size: 34px;
  }

  .creations-heading {
    font-size: 34px;
  }
}
